# PyCharm
.idea/

# Python
__pycache__/

# Vagrant directory
.vagrant

# OSX stuff
.DS_Store
._*
.Trashes

# Windows stuff
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Static files
static/*
!/static/.gitkeep

# Static files
media/*
!/media/.gitkeep

# Virtual environment
venv