# PyCharm
.idea/

# Python
__pycache__/

# Vagrant directory
.vagrant/*

# SQLLite files
*.sqlite3

# Uploaded files
files/uploads/user/image/*
!/files/uploads/user/image/.gitkeep

# Static files
static/*
!/static/.gitkeep

# OSX stuff
.DS_Store
._*
.Trashes

# Windows stuff
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Django stuff
*.log

# Puppet
puppet/modules/*
!puppet/modules/.gitkeep