# PyCharm
.idea/

# Python
__pycache__/

# Vagrant directory
.vagrant

# OSX stuff
.DS_Store
._*
.Trashes

# Windows stuff
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Locale files
locale/*
!/locale/.gitkeep

# Common files
files/*
!/files/.gitkeep

# Static files
static/*
!/static/.gitkeep

# Media files
media/*
!/media/.gitkeep

# Logs
logs/*
!/logs/.gitkeep

# Settings file
/settings.py

# Virtual environment
venv